@tailwind base;
@tailwind components;
@tailwind utilities;

.glassy {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  backdrop-filter: blur(14.2px);
  -webkit-backdrop-filter: blur(14.2px);
}

button{
  scroll-margin-block-end: 1rem;
}